body {
  background-color: cadetblue;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex; /* Layout for sidebar and chat container */
  height: 100vh; /* Fill the viewport height */
}

.sidebar {
  background-color: rgb(160, 222, 253);
  width: 20%; /* Sidebar takes up 20% of the screen width */
  height: 100%; /* Full height of the screen */
  border-radius: 0.5em;
}

.chat-container {
  background: #15202b;
  font-family: 'Roboto', sans-serif;
  border-radius: 0.5em;
  padding: 1em;
  width: 80%; 
  height: 96%; 
  box-shadow: 0 0 1.25em 0.5em #c3c3c333;
  color: white;
  overflow: auto;
  margin: auto;
}

.sidebar h2 {
  color: #000000;
  display: flex;
  align-items: center;
  margin: 1em auto;
  gap: 1em;
  border-radius: 5px;
  width:fit-content;
}
.person-selector {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  align-items: center;
  gap: 1em;
  margin: auto;
  max-width: 40em;
  margin-top: 0%;
}

.person-selector-button {
  width: 100%;
  background-color: #15202b;
  color: #fff;
  font-size: 1.1em;
}

.active-person {
  background: #08529d;
  box-shadow: 0 0 0.5em 0.1em #c3c3c333;
}

.group-selector {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  align-items: center;
  gap: 1em;
  margin: 1em auto;
  max-width: 40em;
}

.group-selector-button {
  width: 100%;
  background-color: #1e3a5f;
  color: #fff;
  font-size: 1em;
  padding: 0.5em 1em;
  border-radius: 5px;
}

.active-group {
  background: #08529d;
  box-shadow: 0 0 0.5em 0.1em #c3c3c333;
}

.chat-header {
  margin-bottom: 1em;
}

.chat-header h2 {
  font-size: 1.25em;
  font-weight: bold;
}

.chat-messages {
  height: calc(100% - 10em); /* Adjust based on space used by header and input */
  overflow-y: scroll;
  margin-bottom: 1em;
}

.chat-messages::-webkit-scrollbar {
  display: none;
}

.message {
  padding: 0.625em;
  border-radius: 1em;
  margin-bottom: 0.625em;
  display: flex;
  flex-direction: column;
}

.message-sender {
  font-weight: bold;
  margin-bottom: 0.31em;
}

.message-text {
  font-size: 1em;
  margin-bottom: 0.31em;
  word-wrap: break-word;
}

.message-timestamp {
  font-size: 0.75em;
  text-align: right;
}

.blue-bg {
  background-color: #1c9bef;
}

.gray-bg {
  background-color: #3d5365;
}

.chat-input-form {
  display: flex;
  align-items: center;
  gap: 0.625em;
}

.chat-input {
  padding: 0.625em;
  border: none;
  border-radius: 0.5em;
  background-color: #f5f5f5;
  color: #333;
  font-size: 1em;
  flex-grow: 1;
}

.send-button {
  background-color: #1c9bef;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
}